form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 600px;
  margin: 0 auto;
  text-align: left;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.form-row-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
}

.form-row,
.form-row-3 {
    text-align: left;
    margin-bottom: 16px;
}

.display-group{
  display: flex;
  flex-direction: row;
  gap: 16px;
  text-align: justify;
  margin-left: 30%;
  margin-bottom: 16px;
}

label {
  font-size: 14px;
  font-weight: 500;
  color: var(--text-h);
}

input, select {
  padding: 8px 12px;
  border: 1px solid var(--border);
  border-radius: 4px;
  background: var(--bg);
  color: var(--text);
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}

.form-actions {
  display: flex;
  gap: 8px;
  margin-top: 8px;
  justify-content: center;
}

button {
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid var(--border);
  cursor: pointer;
  font-size: 16px;
}

button[type="submit"] {
  background: var(--accent);
  color: white;
  border-color: var(--accent);
}

button[type="button"] {
  background: var(--bg);
  color: var(--text);
}

h3{
  padding: 16px;
  border: 1px solid var(--accent-border);
  background-color: var(--accent-bg);
}

h4{
  padding: 8px;
  color: rgb(0, 212, 250);
}

li{
  list-style-type: none;
  padding: 8px 16px;
}

a{
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid var(--border);
  cursor: pointer;
  font-size: 16px;
  background: var(--accent);
  color: white;
  border-color: var(--accent);
}